# Activity: Homework

1. Hãy viết một đoạn mã Python để chèn một bản ghi mới vào một collection có tên là
"students". Khởi tạo 10 bản ghi (Document) bao gồm các trường thông tin "name",
"age", và "major"

In [18]:
# Import library
import pymongo
from bson import ObjectId
# Connect to MongoDB Server
myclinet = pymongo.MongoClient("mongodb://localhost:27017/")
# Create database
mydb = myclinet["homework_lap9"]
# Create collection
mycol = mydb["students"]

In [19]:
# List all the database on MongoDB Server
print(myclinet.list_database_names())

['admin', 'config', 'homework_lap9', 'local', 'test']

In [20]:
# Insert the data
mydict = [{"name": "Harito_0", "age": 20, "major": "KHDL"},
          {"name": "Harito_1", "age": 20, "major": "KHDL"},
          {"name": "Harito_2", "age": 20, "major": "KHDL"},
          {"name": "Harito_3", "age": 20, "major": "KHDL"},
          {"name": "Harito_4", "age": 20, "major": "KHDL"},
          {"name": "Harito_5", "age": 20, "major": "KHDL"},
          {"name": "Harito_6", "age": 20, "major": "KHDL"},
          {"name": "Harito_7", "age": 20, "major": "KHDL"},
          {"name": "Harito_8", "age": 20, "major": "KHDL"},
          {"name": "Harito_9", "age": 20, "major": "KHDL"}
          ]
x = mycol.insert_many(mydict)

# See the data
print(x.inserted_ids)

for x in mycol.find():
    print(x)

[ObjectId('657023ce687b99d060a47a7a'), ObjectId('657023ce687b99d060a47a7b'), ObjectId('657023ce687b99d060a47a7c'), ObjectId('657023ce687b99d060a47a7d'), ObjectId('657023ce687b99d060a47a7e'), ObjectId('657023ce687b99d060a47a7f'), ObjectId('657023ce687b99d060a47a80'), ObjectId('657023ce687b99d060a47a81'), ObjectId('657023ce687b99d060a47a82'), ObjectId('657023ce687b99d060a47a83')]
{'_id': ObjectId('65701f46687b99d060a47a65'), 'name': 'Harito_0', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a66'), 'name': 'Harito_1', 'age': 21, 'major': 'KHMT&TT'}
{'_id': ObjectId('65701f46687b99d060a47a67'), 'name': 'Harito_2', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a68'), 'name': 'Harito_3', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a69'), 'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a6b'), 'name': 'Harito_6', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a6c'), 'name': 'Harito_7', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a6d'), 'name': 'Harito_8', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a6f'), 'name': 'Harito_0', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a70'), 'name': 'Harito_1', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a71'), 'name': 'Harito_2', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a72'), 'name': 'Harito_3', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a73'), 'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a75'), 'name': 'Harito_6', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a76'), 'name': 'Harito_7', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a77'), 'name': 'Harito_8', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7a'), 'name': 'Harito_0', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7b'), 'name': 'Harito_1', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7c'), 'name': 'Harito_2', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7d'), 'name': 'Harito_3', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7e'), 'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7f'), 'name': 'Harito_5', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a80'), 'name': 'Harito_6', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a81'), 'name': 'Harito_7', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a82'), 'name': 'Harito_8', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a83'), 'name': 'Harito_9', 'age': 20, 'major': 'KHDL'}

2. Hãy viết một đoạn mã để cập nhật thông tin của sinh viên có tên là "student1" trong
collection "students". Bạn có thể cập nhật bất kỳ trường nào bạn muốn, ví dụ: thay đổi
age hoặc major.

In [21]:
myquery = {"name": "Harito_1"}
newvalues = {"$set": {"age": 21, "major": "KHMT&TT"}}

mycol.update_one(myquery, newvalues)

# See the result
for x in mycol.find():
    print(x)

{'_id': ObjectId('65701f46687b99d060a47a65'), 'name': 'Harito_0', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a66'), 'name': 'Harito_1', 'age': 21, 'major': 'KHMT&TT'}
{'_id': ObjectId('65701f46687b99d060a47a67'), 'name': 'Harito_2', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a68'), 'name': 'Harito_3', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a69'), 'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a6b'), 'name': 'Harito_6', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a6c'), 'name': 'Harito_7', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a6d'), 'name': 'Harito_8', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a6f'), 'name': 'Harito_0', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a70'), 'name': 'Harito_1', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a71'), 'name': 'Harito_2', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a72'), 'name': 'Harito_3', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a73'), 'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a75'), 'name': 'Harito_6', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a76'), 'name': 'Harito_7', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a77'), 'name': 'Harito_8', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7a'), 'name': 'Harito_0', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7b'), 'name': 'Harito_1', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7c'), 'name': 'Harito_2', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7d'), 'name': 'Harito_3', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7e'), 'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7f'), 'name': 'Harito_5', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a80'), 'name': 'Harito_6', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a81'), 'name': 'Harito_7', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a82'), 'name': 'Harito_8', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a83'), 'name': 'Harito_9', 'age': 20, 'major': 'KHDL'}

3. Tạo một đoạn mã để xóa sinh viên có tên là "student5" và "student9" khỏi collection
"students".

In [22]:
myquery = [{'name': 'Harito_5'}, {'name': 'Harito_9'}]
for query in myquery:
    x = mycol.delete_one(query)

# See the result
for x in mycol.find():
    print(x)

{'_id': ObjectId('65701f46687b99d060a47a65'), 'name': 'Harito_0', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a66'), 'name': 'Harito_1', 'age': 21, 'major': 'KHMT&TT'}
{'_id': ObjectId('65701f46687b99d060a47a67'), 'name': 'Harito_2', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a68'), 'name': 'Harito_3', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a69'), 'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a6b'), 'name': 'Harito_6', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a6c'), 'name': 'Harito_7', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f46687b99d060a47a6d'), 'name': 'Harito_8', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a6f'), 'name': 'Harito_0', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a70'), 'name': 'Harito_1', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a71'), 'name': 'Harito_2', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a72'), 'name': 'Harito_3', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a73'), 'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a75'), 'name': 'Harito_6', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a76'), 'name': 'Harito_7', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('65701f58687b99d060a47a77'), 'name': 'Harito_8', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7a'), 'name': 'Harito_0', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7b'), 'name': 'Harito_1', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7c'), 'name': 'Harito_2', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7d'), 'name': 'Harito_3', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a7e'), 'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a80'), 'name': 'Harito_6', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a81'), 'name': 'Harito_7', 'age': 20, 'major': 'KHDL'}
{'_id': ObjectId('657023ce687b99d060a47a82'), 'name': 'Harito_8', 'age': 20, 'major': 'KHDL'}

4. Viết một câu truy vấn để tìm một sinh viên bằng tên (ví dụ: "student4") trong collection
"students" và hiển thị thông tin của sinh viên đó.

In [23]:
result = mycol.find_one({'name': 'Harito_4'}, {"_id": 0, "name": 1, "age": 1, "major": 1})

print(result)

{'name': 'Harito_4', 'age': 20, 'major': 'KHDL'}

5. Hãy viết một đoạn mã để tìm tất cả sinh viên có độ tuổi lớn hơn 20 và sắp xếp kết quả
theo tên tăng dần. Đồng thời, giới hạn kết quả chỉ hiển thị 5 sinh viên đầu tiên.

In [24]:
result = mycol.find({'age': {'$gt': 20}}, {"_id": 0, "name": 1, "age": 1, "major": 1}).sort('age').limit(5)

for x in result:
    print(x)

{'name': 'Harito_1', 'age': 21, 'major': 'KHMT&TT'}