# Activity 1: Intro Pymongo

In [1]:
# Import library
import pymongo
from bson import ObjectId

In [2]:
# Connect to MongoDB Server
myclinet = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
# Create database
mydb = myclinet["test"]

In [4]:
# Create collection
mycol = mydb["customers"]

In [5]:
# List all the database on MongoDB Server
print(myclinet.list_database_names())

['admin', 'config', 'homework_lap9', 'local', 'test']

# Activity 2: Work with MongoDB

In [6]:
# Add 1 document into database at the same time: insert_one
mydict = {"name": "Harito", "address": "Hanoi", "age": 20}

x = mycol.insert_one(mydict)

print(x.inserted_id)

for x in mycol.find():
    print(x)

657023be4b6d8545cda581d8
{'_id': ObjectId('65701c190e3e126cc639df9b'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9c'), 'name': 'Kirito', 'address': 'Tokyo', 'age': 22}
{'_id': ObjectId('65701c190e3e126cc639df9d'), 'name': 'Hai', 'address': 'HD', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9e'), 'name': 'Hieu', 'address': 'ND', 'age': 21}
{'_id': ObjectId('657023be4b6d8545cda581d8'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}

In [7]:
# Add many document into database at same time: insert_many
mydict = [{"name": "Harito", "address": "Hanoi", "age": 20},
          {"name": "Kirito", "address": "Tokyo", "age": 22}]

x = mycol.insert_many(mydict)

print(x.inserted_ids)

for x in mycol.find():
    print(x)

[ObjectId('657023be4b6d8545cda581d9'), ObjectId('657023be4b6d8545cda581da')]
{'_id': ObjectId('65701c190e3e126cc639df9b'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9c'), 'name': 'Kirito', 'address': 'Tokyo', 'age': 22}
{'_id': ObjectId('65701c190e3e126cc639df9d'), 'name': 'Hai', 'address': 'HD', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9e'), 'name': 'Hieu', 'address': 'ND', 'age': 21}
{'_id': ObjectId('657023be4b6d8545cda581d8'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d9'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581da'), 'name': 'Kirito', 'address': 'Tokyo', 'age': 22}

In [8]:
# Update 1 document: update_one
myquery = {"name": "Harito"}
newvalues = {"$set": {"name": "Hai"}}

mycol.update_one(myquery, newvalues)

# print "customers" after the update
for x in mycol.find():
    print(x)

{'_id': ObjectId('65701c190e3e126cc639df9b'), 'name': 'Hai', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9c'), 'name': 'Kirito', 'address': 'Tokyo', 'age': 22}
{'_id': ObjectId('65701c190e3e126cc639df9d'), 'name': 'Hai', 'address': 'HD', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9e'), 'name': 'Hieu', 'address': 'ND', 'age': 21}
{'_id': ObjectId('657023be4b6d8545cda581d8'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d9'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581da'), 'name': 'Kirito', 'address': 'Tokyo', 'age': 22}

In [9]:
# Update many document: update_many
myquery = {}
newvalues = {"$set": {"name": "value123", "age": 20}}

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")
# print "customers" after the update
for x in mycol.find():
    print(x)

7 documents updated.
{'_id': ObjectId('65701c190e3e126cc639df9b'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9c'), 'name': 'value123', 'address': 'Tokyo', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9d'), 'name': 'value123', 'address': 'HD', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9e'), 'name': 'value123', 'address': 'ND', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d8'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d9'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581da'), 'name': 'value123', 'address': 'Tokyo', 'age': 20}

In [10]:
# Update have condition: update_many
myquery = {"_id": {"$in": [ObjectId('657016c70e3e126cc639df99'), ObjectId('6570160e0e3e126cc639df97')]}}

newvalues = {"$set": {"name": "New Name", "age": 25}}

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated")
for x in mycol.find():
    print(x)

0 documents updated
{'_id': ObjectId('65701c190e3e126cc639df9b'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9c'), 'name': 'value123', 'address': 'Tokyo', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9d'), 'name': 'value123', 'address': 'HD', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9e'), 'name': 'value123', 'address': 'ND', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d8'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d9'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581da'), 'name': 'value123', 'address': 'Tokyo', 'age': 20}

In [11]:
# Delete 1 document: delete_one
# In case have many same document then delete the first documnet
myquery = {'name': 'New Name'}

x = mycol.delete_one(myquery)
print(x.deleted_count, "documnets delete")
for x in mycol.find():
    print(x)

0 documnets delete
{'_id': ObjectId('65701c190e3e126cc639df9b'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9c'), 'name': 'value123', 'address': 'Tokyo', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9d'), 'name': 'value123', 'address': 'HD', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9e'), 'name': 'value123', 'address': 'ND', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d8'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d9'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581da'), 'name': 'value123', 'address': 'Tokyo', 'age': 20}

In [12]:
# Delete many document: delete_many
myquery = {"name": {"$regex": "^N"}}

x = mycol.delete_many(myquery)

print(x.deleted_count, "documents deleted")
for x in mycol.find():
    print(x)

0 documents deleted
{'_id': ObjectId('65701c190e3e126cc639df9b'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9c'), 'name': 'value123', 'address': 'Tokyo', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9d'), 'name': 'value123', 'address': 'HD', 'age': 20}
{'_id': ObjectId('65701c190e3e126cc639df9e'), 'name': 'value123', 'address': 'ND', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d8'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581d9'), 'name': 'value123', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581da'), 'name': 'value123', 'address': 'Tokyo', 'age': 20}

In [13]:
# Delete all document: delete_many
x = mycol.delete_many({})

print(x.deleted_count, "document deleted")
for x in mycol.find():
    print(x)

7 document deleted

In [14]:
# Recreate documents
mydict = [{"name": "Harito", "address": "Hanoi", "age": 20},
          {"name": "Kirito", "address": "Tokyo", "age": 22},
          {"name": "Hai", "address": "HD", "age": 20},
          {"name": "Hieu", "address": "ND", "age": 21}]

x = mycol.insert_many(mydict)
for x in mycol.find():
    print(x)

{'_id': ObjectId('657023be4b6d8545cda581db'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581dc'), 'name': 'Kirito', 'address': 'Tokyo', 'age': 22}
{'_id': ObjectId('657023be4b6d8545cda581dd'), 'name': 'Hai', 'address': 'HD', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581de'), 'name': 'Hieu', 'address': 'ND', 'age': 21}

In [15]:
# Find a document: find_one

# Find the document with the specified_id
target_id = ObjectId('65701c190e3e126cc639df9b')
result1 = mycol.find_one({"_id": target_id})

# Find the documnet with the name
result2 = mycol.find_one({"name": "Harito"})

# Display result
print(result1)
print(result2)

None
{'_id': ObjectId('657023be4b6d8545cda581db'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}

In [16]:
# Find all document: find
# Find all
for x in mycol.find():
    print(x)

{'_id': ObjectId('657023be4b6d8545cda581db'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581dc'), 'name': 'Kirito', 'address': 'Tokyo', 'age': 22}
{'_id': ObjectId('657023be4b6d8545cda581dd'), 'name': 'Hai', 'address': 'HD', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581de'), 'name': 'Hieu', 'address': 'ND', 'age': 21}

In [17]:
# Find documents with filter
# Filter: wanna take some fields in the query
for x in mycol.find({}, {"_id": 0, "name": 1, "age": 1}):
    print(x)

{'name': 'Harito', 'age': 20}
{'name': 'Kirito', 'age': 22}
{'name': 'Hai', 'age': 20}
{'name': 'Hieu', 'age': 21}

In [18]:
# Sort the document follow a fields
mydoc = mycol.find().sort('age')

for x in mydoc:
    print(x)

{'_id': ObjectId('657023be4b6d8545cda581db'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581dd'), 'name': 'Hai', 'address': 'HD', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581de'), 'name': 'Hieu', 'address': 'ND', 'age': 21}
{'_id': ObjectId('657023be4b6d8545cda581dc'), 'name': 'Kirito', 'address': 'Tokyo', 'age': 22}

In [19]:
# Get document with limit number of output
myresult = mycol.find().limit(3)

for x in myresult:
    print(x)

{'_id': ObjectId('657023be4b6d8545cda581db'), 'name': 'Harito', 'address': 'Hanoi', 'age': 20}
{'_id': ObjectId('657023be4b6d8545cda581dc'), 'name': 'Kirito', 'address': 'Tokyo', 'age': 22}
{'_id': ObjectId('657023be4b6d8545cda581dd'), 'name': 'Hai', 'address': 'HD', 'age': 20}